.headerChild {
  position: absolute;
  top: 66.5px;
  left: -0.5px;
  border-top: 1px solid var(--x3);
  box-sizing: border-box;
  width: 1417px;
  height: 1px;
}
.headerItem {
  position: absolute;
  top: -19px;
  left: 0;
  background-color: var(--color-silver-100);
  width: 1416px;
  height: 86px;
  display: none;
}
.searchBarChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--putih);
  width: 352px;
  height: 48px;
}
.searchBarItem {
  border: 0;
  font-weight: 500;
  font-family: var(--font-montserrat);
  font-size: var(--typography-label-large-size);
  background-color: transparent;
  position: absolute;
  top: 12px;
  left: 29px;
  width: 299px;
  height: 24px;
}
.searchBar,
.tanggalanChild {
  position: absolute;
  top: 0;
  left: 41px;
  width: 352px;
  height: 48px;
}
.tanggalanChild {
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--putih);
  width: 240px;
}
.marzo202023 {
  position: absolute;
  top: 13px;
  left: 27px;
  letter-spacing: 0.05em;
  line-height: 22px;
  font-weight: 500;
}
.tanggalan {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 48px;
}
.groupChild,
.header,
.tanggalanParent {
  position: absolute;
  top: 0;
  left: 264px;
  width: 48px;
  height: 48px;
}
.header,
.tanggalanParent {
  left: 1050px;
  width: 312px;
}
.header {
  top: 19px;
  left: 312px;
  width: 1416px;
  height: 67px;
  color: var(--satu);
}
.rectangle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-13xl);
  background-color: var(--putih);
  width: 995px;
  height: 925px;
}
.backgroundIcon,
.code1 {
  position: absolute;
  height: 2.38%;
  top: 13.31%;
}
.backgroundIcon {
  width: 9.06%;
  right: 87.88%;
  bottom: 84.31%;
  left: 3.06%;
  border-radius: var(--br-16xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.code1 {
  margin: 0;
  width: 9.1%;
  left: 3.02%;
  font-size: var(--font-size-3xs);
  line-height: 24px;
  text-transform: uppercase;
  color: var(--color-whitesmoke-200);
  display: flex;
  align-items: center;
  justify-content: center;
}
.b,
.materia1,
.puntos {
  position: absolute;
  height: 1.84%;
  display: inline-block;
}
.materia1 {
  width: 27.49%;
  top: 16.88%;
  left: 3.04%;
  font-size: var(--subheadline-16-size);  /* --typography-label-large-siz */
  letter-spacing: -0.24px;
  color: var(--headline);
  text-align: left;
}
.b,
.puntos {
  width: 5.51%;
  top: 18.61%;
  left: 79.56%;
  font-size: var(--font-size-2xs);
}
.b {
  height: 4.65%;
  width: 4.67%;
  top: 13.31%;
  left: 79.98%;
  font-size: var(--font-size-5xl);
  font-family: var(--font-museomoderno);
}
.calificacion {
  height: 1.52%;
  width: 5.51%;
  top: 18.83%;
  left: 70.03%;
  font-size: var(--font-size-2xs);
}
.b1,
.calificacion,
.na,
.notaFinal {
  position: absolute;
  display: inline-block;
}
.na {
  height: 4.65%;
  width: 4.67%;
  top: 13.85%;
  left: 70.23%;
  font-size: var(--font-size-5xl);
  font-family: var(--font-museomoderno);
}
.b1,
.notaFinal {
  height: 1.84%;
  width: 5.51%;
  top: 18.61%;
  left: 60.4%;
  font-size: var(--font-size-2xs);
}
.b1 {
  height: 4.65%;
  width: 4.67%;
  top: 13.31%;
  left: 60.61%;
  font-size: var(--font-size-5xl);
  font-family: var(--font-museomoderno);
}
.medioTermino {
  position: absolute;
  height: 1.84%;
  width: 4.78%;
  top: 18.61%;
  left: 50.97%;
  font-size: var(--font-size-2xs);
}
.b2,
.creditos,
.medioTermino {
  display: inline-block;
}
.b2 {
  position: absolute;
  height: 4.65%;
  width: 4.67%;
  top: 13.31%;
  left: 51.21%;
  font-size: var(--font-size-5xl);
  font-family: var(--font-museomoderno);
}
.creditos {
  height: 1.84%;
  width: 6.58%;
  top: 18.61%;
  left: 40.28%;
  font-size: var(--font-size-2xs);
}
.b3,
.creditos,
.g1 {
  position: absolute;
}
.b3 {
  height: 4.65%;
  width: 4.67%;
  top: 13.31%;
  left: 41.23%;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--font-museomoderno);
}
.g1 {
  top: 0;
  left: 0;
  width: 995px;
  height: 925px;
}
.backgroundIcon1,
.code2 {
  position: absolute;
  height: 31.88%;
  top: 0;
}
.backgroundIcon1 {
  width: 11.07%;
  right: 88.87%;
  bottom: 68.12%;
  left: 0.05%;
  border-radius: var(--br-16xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.code2 {
  margin: 0;
  width: 11.13%;
  left: 0;
  font-size: var(--font-size-3xs);
  line-height: 24px;
  text-transform: uppercase;
  color: var(--color-whitesmoke-200);
  display: flex;
  align-items: center;
  justify-content: center;
}
.materia2 {
  position: absolute;
  height: 49.28%;
  width: 33.59%;
  top: 47.83%;
  left: 0.04%;
  font-size: var(--subheadline-16-size);
  letter-spacing: -0.24px;
  color: var(--headline);
  text-align: left;
  display: inline-block;
}
.creditos1 {
  height: 24.64%;
  width: 8.04%;
  top: 75.36%;
  left: 45.27%;
  font-size: var(--font-size-2xs);
}
.b4,
.b5,
.creditos1,
.medioTermino1 {
  position: absolute;
  display: inline-block;
}
.b4 {
  height: 62.32%;
  width: 5.71%;
  top: 4.35%;
  left: 46.44%;
  font-size: var(--font-size-5xl);
  font-family: var(--font-museomoderno);
}
.b5,
.medioTermino1 {
  height: 24.64%;
  width: 5.84%;
  top: 75.36%;
  left: 58.34%;
  font-size: var(--font-size-2xs);
}
.b5 {
  height: 62.32%;
  width: 5.71%;
  top: 4.35%;
  left: 58.63%;
  font-size: var(--font-size-5xl);
  font-family: var(--font-museomoderno);
}
.notaFinal1 {
  height: 24.64%;
  width: 6.73%;
  top: 75.36%;
  left: 69.86%;
  font-size: var(--font-size-2xs);
}
.b6,
.calificacion1,
.notaFinal1 {
  position: absolute;
  display: inline-block;
}
.b6 {
  height: 62.32%;
  width: 5.71%;
  top: 4.35%;
  left: 70.12%;
  font-size: var(--font-size-5xl);
  font-family: var(--font-museomoderno);
}
.calificacion1 {
  height: 20.29%;
  width: 6.73%;
  top: 75.36%;
  left: 81.24%;
  font-size: var(--font-size-2xs);
}
.na1 {
  position: absolute;
  height: 62.32%;
  width: 5.71%;
  top: 4.35%;
  left: 81.63%;
  font-size: var(--font-size-5xl);
  font-family: var(--font-museomoderno);
}
.b7,
.na1,
.puntos1 {
  display: inline-block;
}
.puntos1 {
  position: absolute;
  height: 24.64%;
  width: 6.73%;
  top: 75.36%;
  left: 93.27%;
  font-size: var(--font-size-2xs);
}
.b7 {
  height: 62.32%;
  width: 5.71%;
  top: 4.35%;
  left: 93.79%;
  font-size: var(--font-size-5xl);
  font-family: var(--font-museomoderno);
}
.b7,
.g2,
.na2 {
  position: absolute;
}
.g2 {
  height: 7.47%;
  width: 81.84%;
  top: 26.84%;
  right: 14.94%;
  bottom: 65.69%;
  left: 3.23%;
}
.na2 {
  height: 78.26%;
  width: 7.5%;
  top: 4.35%;
  left: 80.47%;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--font-museomoderno);
}
.g3,
.g4,
.g5,
.g6 {
  position: absolute;
  height: 7.47%;
  width: 81.84%;
  top: 40.58%;
  right: 14.94%;
  bottom: 51.95%;
  left: 3.23%;
}
.g4,
.g5,
.g6 {
  top: 53.9%;
  bottom: 38.64%;
}
.g5,
.g6 {
  top: 67.24%;
  right: 15.15%;
  bottom: 25.29%;
  left: 3.02%;
}
.g6 {
  top: 80.97%;
  right: 14.85%;
  bottom: 11.56%;
  left: 3.32%;
}
.selectSimple {
  position: absolute;
  top: 55.61px;
  left: 32.06px;
  width: 250.71px;
  height: 48.05px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.trimestre3 {
  position: absolute;
  top: 19.02px;
  left: 7.88px;
  font-size: var(--font-size-xs);
  line-height: 100%;
  font-weight: 500;
  color: var(--color-lightgray-100);
  text-align: left;
  display: none;
  align-items: center;
  width: 72.68px;
  height: 12.01px;
}
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: #f2f4fd;
  width: 112.71px;
  height: 40.04px;
}
.eldownloadAltIcon {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
}
.pdf {
  position: relative;
  font-size: var(--subheadline-16-size);
  font-family: var(--font-montserrat);
  color: var(--color-gray-300);
  text-align: left;
}
.eldownloadAltParent {
  position: absolute;
  top: 10.01px;
  left: 17.91px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 2px;
  left: 882.17px;
  width: 112.71px;
  height: 40.04px;
}
.g1Parent {
  position: absolute;
  top: 229px;
  left: 332px;
  width: 995px;
  height: 925px;
  text-align: center;
  font-size: var(--font-size-5xs);
}
.calificaciones {
  position: absolute;
  top: 133px;
  left: 353px;
  font-size: var(--font-size-17xl);
  line-height: 22px;
  color: var(--satu);
}
.rectangle1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-13xl);
  background-color: var(--putih);
  width: 346px;
  height: 174px;
}
.b24,
.sunny {
  position: absolute;
  top: 38px;
  left: 39px;
  display: inline-block;
  width: 201px;
}
.sunny {
  top: 118px;
  font-size: var(--font-size-smi);
  line-height: 14px;
  color: var(--color-black);
  width: 173px;
  height: 19px;
}
.rectangle2,
.weather {
  position: absolute;
  width: 346px;
}
.weather {
  top: 503px;
  left: 1362px;
  box-shadow: 0 4px 20px #e8ecff;
  height: 174px;
  font-size: var(--font-size-41xl);
}
.rectangle2 {
  top: 0;
  left: 0;
  border-radius: var(--br-13xl);
  background-color: var(--putih);
  height: 226px;
}
.id {
  font-weight: 500;
  font-family: var(--font-poppins);
}
.blankLine {
  margin: 0;
}
.estatus {
  font-weight: 500;
}
.activo {
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-limegreen);
}
.span {
  color: #a6eb7b;
}
.span1 {
  font-family: var(--font-poppins);
}
.sunny1 {
  position: absolute;
  top: 29.87px;
  left: 39px;
  line-height: 14px;
  display: inline-block;
  width: 302px;
  height: 158.46px;
}
.sunny2,
.weather1 {
  position: absolute;
  font-size: var(--font-size-smi);
}
.weather1 {
  top: 238px;
  left: 1362px;
  box-shadow: 0 4px 20px #e8ecff;
  width: 346px;
  height: 226px;
  font-family: var(--font-poppins);
}
.sunny2 {
  top: 118px;
  left: 39px;
  line-height: 14px;
  color: var(--color-black);
  display: inline-block;
  width: 173px;
}
.weather2 {
  position: absolute;
  top: 721px;
  left: 1362px;
  box-shadow: 0 4px 20px #e8ecff;
  width: 346px;
  height: 174px;
  font-size: var(--font-size-41xl);
}
.menuPrincipalChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 312px;
  height: 1233px;
}
.menuPrincipalItem {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--abuabu);
  position: absolute;
  top: 1073px;
  left: 36px;
  border-radius: var(--br-base);
  width: 240px;
  height: 65px;
}
.iconoirheadsetHelp {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.help {
  position: absolute;
  top: 1px;
  left: 46px;
  line-height: 18.69px;
}
.iconoirheadsetHelpParent {
  position: absolute;
  top: 577px;
  left: 29px;
  width: 81px;
  height: 20px;
}
.signOut {
  position: absolute;
  top: 0;
  left: 46px;
  line-height: 18.69px;
}
.signOutParent,
.vuesaxlinearlogoutIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}
.signOutParent {
  top: 631px;
  left: 29px;
  width: 111px;
}
.menuPrincipal1,
.support {
  position: absolute;
  top: 0;
  left: 29px;
  letter-spacing: 0.05em;
  line-height: 18.69px;
  text-transform: capitalize;
  color: var(--abupeteng);
}
.support {
  top: 470px;
}
.groupInner {
  position: absolute;
  top: 435.5px;
  left: -0.5px;
  border-top: 1px solid var(--abupeteng);
  box-sizing: border-box;
  width: 241px;
  height: 1px;
}
.groupParent {
  position: absolute;
  top: 146px;
  left: 36px;
  width: 240px;
  height: 651px;
}
.retiro {
  position: absolute;
  top: 1px;
  left: 48px;
  line-height: 18.69px;
}
.vuesaxlineardocumentTextParent {
  position: absolute;
  top: 307px;
  left: 68px;
  width: 93px;
  height: 20px;
}
.seleccion {
  position: absolute;
  top: 3px;
  left: 49px;
  line-height: 18.69px;
  text-transform: capitalize;
}
.vuesaxlinearuserCirlceAddIcon {
  position: absolute;
  height: 90.91%;
  width: 16.67%;
  top: 0;
  right: 83.33%;
  bottom: 9.09%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipseIcon,
.seleccionParent {
  position: absolute;
  top: 354px;
  left: 67px;
  width: 120px;
  height: 22px;
}
.ellipseIcon {
  top: 1082px;
  left: 49px;
  width: 48px;
  height: 48px;
}
.davidFelix,
.estudiante {
  position: absolute;
  left: 0;
  line-height: 18.69px;
}
.davidFelix {
  margin: 0;
  top: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  white-space: nowrap;
  text-align: center; 
}
.estudiante {
  top: 19px;
  text-transform: capitalize;
  color: var(--abupeteng);
}
.davidFelixParent,
.ellipseParent {
  position: absolute;
  top: 5px;
  left: 60px;
  width: 93px;
  height: 38px;
}
.ellipseParent {
  top: 1082px;
  left: 49px;
  width: 153px;
  height: 48px;
  font-size: 16.02px;
  color: var(--dua);
}
.estudiante1 {
  margin: 0;
  position: absolute;
  top: 55px;
  left: 36px;
  font-size: var(--font-size-17xl);
  font-weight: 700;
  font-family: inherit;
  color: var(--color-cornflowerblue);
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-cornflowerblue);
  width: 240px;
  height: 53px;
}
.calificaciones1 {
  margin: 0;
  position: absolute;
  top: 17px;
  left: 75px;
  font-size: inherit;
  line-height: 18.69px;
  font-weight: 700;
  font-family: inherit;
}
.rectangleGroup,
.vuesaxlineartaskSquareIcon {
  position: absolute;
  top: 16px;
  left: 29px;
  width: 20px;
  height: 20px;
}
.rectangleGroup {
  top: 242px;
  left: 37px;
  width: 240px;
  height: 53px;
  color: var(--putih);
}
.dashboard {
  position: absolute;
  top: 3px;
  left: 48px;
  line-height: 18.69px;
}
.vuesaxlinearhome2Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}
.dashboardParent,
.menuPrincipal {
  position: absolute;
  top: 207px;
  left: 68px;
  width: 129px;
  height: 24px;
}
.menuPrincipal {
  top: 0;
  left: 0;
  width: 312px;
  height: 1233px;
  color: var(--satu);
}
.anterior,
.siguiente {
  position: absolute;
  top: 1105px;
  left: 1204px;
  font-size: var(--subheadline-16-size);
  letter-spacing: 0.05em;
  line-height: 18.69px;
  text-transform: capitalize;
  display: inline-block;
  color: var(--dua);
  width: 110.08px;
  height: 19.61px;
}
.anterior {
  left: 1084px;
  color: var(--color-tomato);
  width: 98.08px;
}
.calificacionesEstudiante {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 1233px;
  overflow: hidden;
  text-align: left;
  font-size: var(--typography-label-large-size);
  color: var(--text);
  font-family: var(--font-montserrat);
}
