.headerChild {
  position: absolute;
  top: 66.5px;
  left: -0.5px;
  border-top: 1px solid var(--x3);
  box-sizing: border-box;
  width: 1417px;
  height: 1px;
}
.headerItem {
  position: absolute;
  top: -19px;
  left: 0;
  background-color: var(--color-silver-100);
  width: 1416px;
  height: 86px;
  display: none;
}
.searchBarChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--putih);
  width: 352px;
  height: 48px;
}
.searchBarItem {
  border: 0;
  font-weight: 500;
  font-family: var(--font-montserrat);
  font-size: var(--typography-label-large-size);
  background-color: transparent;
  position: absolute;
  top: 12px;
  left: 29px;
  width: 299px;
  height: 24px;
}
.searchBar,
.tanggalanChild {
  position: absolute;
  top: 0;
  left: 41px;
  width: 352px;
  height: 48px;
}
.tanggalanChild {
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--putih);
  width: 240px;
}
.marzo202023 {
  position: absolute;
  top: 13px;
  left: 27px;
  letter-spacing: 0.05em;
  line-height: 22px;
  font-weight: 500;
}
.groupChild,
.tanggalan {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 48px;
}
.groupChild {
  border-radius: var(--br-71xl);
  background-color: var(--putih);
  width: 48px;
}
.groupItem,
.vuesaxlinearnotificationIcon {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 24px;
  height: 24px;
}
.groupItem {
  top: 11px;
  left: 30px;
  width: 4px;
  height: 4px;
}
.rectangleParent,
.tanggalanParent {
  position: absolute;
  top: 0;
  height: 48px;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 264px;
  width: 48px;
}
.tanggalanParent {
  left: 1050px;
  width: 312px;
}
.header,
.searchBar1 {
  position: absolute;
  top: 19px;
  left: 312px;
  width: 1416px;
  height: 67px;
}
.searchBar1 {
  top: 214px;
  left: 353px;
  box-shadow: 0 4px 20px #e8ecff;
  width: 352px;
  height: 48px;
}
.retiroDeMaterias {
  position: absolute;
  top: 133px;
  left: 353px;
  font-size: var(--font-size-17xl);
  line-height: 22px;
}
.cancelar {
  position: absolute;
  top: 876px;
  left: 1433px;
  line-height: 100%;
  font-weight: 500;
  color: var(--neutrals-text-primary);
  display: flex;
  align-items: center;
  width: 106px;
  height: 30px;
}
.text {
  position: relative;
  font-size: var(--typography-label-large-size);
  line-height: 20px;
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--putih);
  text-align: left;
}
.button {
  cursor: pointer;
  border: 1px solid var(--color-lightgray-200);
  padding: var(--padding-5xs) var(--padding-sm);
  background-color: #fa8f8f;
  position: absolute;
  top: 865px;
  left: 1549px;
  border-radius: var(--br-base);
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  box-sizing: border-box;
  width: 106px;
  height: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.rectangle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-13xl);
  background-color: var(--putih);
  width: 346px;
  height: 174px;
}
.b,
.sunny {
  position: absolute;
  top: 38px;
  left: 39px;
  display: inline-block;
  width: 201px;
}
.sunny {
  top: 118px;
  font-size: var(--font-size-xl);
  line-height: 14px;
  color: var(--text);
  width: 173px;
  height: 19px;
}
.weather {
  top: 964px;
  left: 371px;
  box-shadow: 0 4px 20px #e8ecff;
  width: 346px;
  height: 174px;
  text-align: left;
  font-size: var(--font-size-41xl);
  color: var(--color-limegreen);
  font-family: var(--font-montserrat);
}
.h1,
.weather,
.weather1 {
  position: absolute;
}
.h1 {
  margin: 0;
  top: 38px;
  left: 39px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 201px;
}
.weather1 {
  top: 964px;
  left: 849px;
  box-shadow: 0 4px 20px #e8ecff;
  width: 346px;
  height: 174px;
  font-size: var(--font-size-41xl);
  color: var(--color-salmon);
}
.sunny2 {
  position: absolute;
  top: 118px;
  left: 39px;
  font-size: var(--font-size-xl);
  line-height: 14px;
  display: inline-block;
  width: 173px;
  height: 19px;
}
.weather2 {
  position: absolute;
  top: 964px;
  left: 1327px;
  box-shadow: 0 4px 20px #e8ecff;
  width: 346px;
  height: 174px;
  text-align: left;
  font-size: var(--font-size-41xl);
  color: var(--text);
  font-family: var(--font-montserrat);
}
.groupInner {
  position: absolute;
  top: -16px;
  left: -20px;
  border-radius: var(--br-base);
  width: 1343px;
  height: 558px;
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--x2);
  width: 1217.93px;
  height: 62.16px;
}
.div1,
.div2 {
  position: absolute;
  top: 20.72px;
  left: 834.64px;
  line-height: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 19.01px;
  height: 14.5px;
}
.div2 {
  left: 936.72px;
}
.ids202Aseguramiento {
  position: absolute;
  top: 19.68px;
  left: 50.04px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.05em;
  line-height: 18.69px;
  text-transform: capitalize;
  color: var(--dua);
  display: inline-block;
  width: 661.51px;
  height: 19.68px;
}
.boxunchecked,
.rectangleGroup {
  position: absolute;
  top: 0;
  left: 0;
  width: 1217.93px;
  height: 62.16px;
}
.boxunchecked {
  cursor: pointer;
  top: 24.48px;
  left: 1126.99px;
  width: 16.01px;
  height: 16.51px;
}
.child,
.div {
  position: absolute;
  top: 53.87px;
  left: 19.01px;
  width: 1217.93px;
  height: 62.16px;
}
.child {
  top: 0;
  left: 0;
  background-color: var(--putih);
  width: 1216.93px;
}
.div4,
.div5 {
  position: absolute;
  top: 24.86px;
  left: 837.64px;
  line-height: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 19.01px;
  height: 14.5px;
}
.div5 {
  left: 939.72px;
}
.boxunchecked1 {
  cursor: pointer;
  position: absolute;
  top: 24.32px;
  left: 1130.99px;
  width: 16.01px;
  height: 16.51px;
}
.div3 {
  position: absolute;
  top: 116.03px;
  left: 15.01px;
  width: 1216.93px;
  height: 62.16px;
}
.ids202Aseguramiento2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-xl);
  letter-spacing: 0.05em;
  line-height: 18.69px;
  text-transform: capitalize;
  color: var(--dua);
  display: inline-block;
  width: 661.51px;
  height: 19.68px;
}
.div7,
.div8 {
  position: absolute;
  top: 2.07px;
  left: 784.6px;
  line-height: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 19.01px;
  height: 14.5px;
}
.div8 {
  left: 886.68px;
}
.ids202AseguramientoDeLaCParent {
  position: absolute;
  top: 19.68px;
  left: 50.04px;
  width: 905.7px;
  height: 19.68px;
}
.icon {
  position: absolute;
  height: calc(100% - 9.76px);
  width: calc(100% - 10.02px);
  top: 5px;
  right: 5.02px;
  bottom: 4.76px;
  left: 5px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.ic20Close {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 18.65px;
  left: 1128.87px;
  width: 21.02px;
  height: 21.76px;
}
.div6 {
  position: absolute;
  top: 178.19px;
  left: 19.01px;
  width: 1217.93px;
  height: 62.16px;
}
.ids202Aseguramiento3,
.inner {
  position: absolute;
  top: 0;
  left: 0;
}
.inner {
  background-color: var(--putih);
  width: 1236.95px;
  height: 62.16px;
}
.ids202Aseguramiento3 {
  letter-spacing: 0.05em;
  line-height: 18.69px;
  text-transform: capitalize;
  display: inline-block;
  width: 661.51px;
  height: 19.68px;
}
.ids202AseguramientoDeLaCWrapper {
  position: absolute;
  top: 19.68px;
  left: 69.05px;
  width: 661.51px;
  height: 19.68px;
  font-size: var(--font-size-xl);
  color: var(--dua);
}
.div10,
.div11 {
  position: absolute;
  top: 23.83px;
  left: 955.73px;
  line-height: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 19.01px;
  height: 14.5px;
}
.div11 {
  left: 853.66px;
}
.boxunchecked2 {
  cursor: pointer;
  position: absolute;
  top: 24px;
  left: 1146px;
  width: 16.01px;
  height: 16.51px;
}
.div13,
.div14,
.div9 {
  position: absolute;
  top: 240.35px;
  left: 0;
  width: 1236.95px;
  height: 62.16px;
}
.div13,
.div14 {
  top: 3.11px;
  left: 886.68px;
  line-height: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 19.01px;
  height: 14.5px;
}
.div14 {
  left: 784.6px;
}
.child2,
.div12 {
  position: absolute;
  top: 302.51px;
  left: 19.01px;
  width: 1217.93px;
  height: 62.16px;
}
.child2 {
  top: 0;
  left: 0;
  background-color: var(--putih);
  width: 1212.93px;
  height: 64.23px;
}
.ids202Aseguramiento5 {
  position: absolute;
  top: 20.72px;
  left: 47.04px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.05em;
  line-height: 18.69px;
  text-transform: capitalize;
  color: var(--dua);
  display: inline-block;
  width: 1048.04px;
  height: 20.34px;
}
.div16,
.div17 {
  position: absolute;
  top: 23.83px;
  left: 935.72px;
  line-height: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 19.01px;
  height: 14.5px;
}
.div17 {
  left: 833.64px;
}
.boxunchecked3 {
  cursor: pointer;
  position: absolute;
  top: 24.68px;
  left: 1126.99px;
  width: 16.01px;
  height: 16.51px;
}
.div15,
.retiroDeMateria {
  position: absolute;
  top: 364.67px;
  left: 19.01px;
  width: 1212.93px;
  height: 64.23px;
}
.retiroDeMateria {
  top: 0;
  left: 21.02px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.05em;
  line-height: 18.69px;
  text-transform: capitalize;
  display: inline-block;
  color: var(--satu);
  width: 200.15px;
  height: 19.68px;
}
.parent {
  position: absolute;
  top: 18.65px;
  left: 0;
  width: 1236.95px;
  height: 428.9px;
  font-size: var(--typography-label-large-size);
}
.creditos,
.lab {
  top: 41.44px;
  font-weight: 600;
  width: 89.07px;
  height: 19.68px;
}
.creditos {
  position: absolute;
  left: 817.63px;
  letter-spacing: 0.05em;
  line-height: 18.69px;
  text-transform: capitalize;
  display: inline-block;
}
.lab {
  left: 928.71px;
}
.anterior,
.lab,
.retirar,
.siguiente {
  position: absolute;
  letter-spacing: 0.05em;
  line-height: 18.69px;
  text-transform: capitalize;
  display: inline-block;
}
.retirar {
  top: 41px;
  left: 1122px;
  font-weight: 600;
  width: 89.07px;
  height: 19.68px;
}
.anterior,
.siguiente {
  top: 482px;
  left: 1157.09px;
  color: var(--dua);
  width: 110.17px;
  height: 20.31px;
}
.anterior {
  left: 1037px;
  color: var(--color-tomato);
  width: 98.15px;
}
.vectorParent {
  position: absolute;
  top: 322px;
  left: 371px;
  box-shadow: 0 4px 20px #e8ecff;
  width: 1303px;
  height: 518px;
  font-size: var(--subheadline-16-size);
  color: var(--neutrals-text-primary);
}
.boxunchecked4,
.boxunchecked5,
.menuPrincipalItem {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 1127px;
  width: 16.01px;
  height: 16.51px;
}
.menuPrincipalItem {
  border: 0;
  padding: 0;
  background-color: var(--abuabu);
  top: 1073px;
  left: 36px;
  border-radius: var(--br-base);
  width: 240px;
  height: 65px;
}
.iconoirheadsetHelp {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.help {
  position: absolute;
  top: 1px;
  left: 46px;
  line-height: 18.69px;
}
.iconoirheadsetHelpParent {
  position: absolute;
  top: 577px;
  left: 29px;
  width: 81px;
  height: 20px;
}
.signOut {
  position: absolute;
  top: 0;
  left: 46px;
  line-height: 18.69px;
}
.signOutParent,
.vuesaxlinearlogoutIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}
.signOutParent {
  top: 631px;
  left: 29px;
  width: 111px;
}
.calificaciones {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 18.69px;
}
.calificacionesWrapper,
.groupIcon {
  position: absolute;
  top: 112px;
  left: 75px;
  width: 102px;
  height: 19px;
}
.groupIcon {
  top: 110px;
  left: 29px;
  width: 20px;
  height: 20px;
}
.menuPrincipal1,
.support {
  position: absolute;
  top: 0;
  left: 29px;
  letter-spacing: 0.05em;
  line-height: 18.69px;
  text-transform: capitalize;
  color: var(--abupeteng);
}
.support {
  top: 470px;
}
.lineDiv {
  position: absolute;
  top: 435.5px;
  left: -0.5px;
  border-top: 1px solid var(--abupeteng);
  box-sizing: border-box;
  width: 241px;
  height: 1px;
}
.groupParent {
  position: absolute;
  top: 146px;
  left: 36px;
  width: 240px;
  height: 651px;
}
.seleccion {
  position: absolute;
  top: 3px;
  left: 49px;
  line-height: 18.69px;
  text-transform: capitalize;
}
.vuesaxlinearuserCirlceAddIcon {
  position: absolute;
  height: 90.91%;
  width: 16.67%;
  top: 0;
  right: 83.33%;
  bottom: 9.09%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipseIcon,
.seleccionParent {
  position: absolute;
  top: 354px;
  left: 67px;
  width: 120px;
  height: 22px;
}
.ellipseIcon {
  top: 1082px;
  left: 49px;
  width: 48px;
  height: 48px;
}
.davidFelix,
.estudiante {
  position: absolute;
  left: 0;
  line-height: 18.69px;
}
.davidFelix {
  margin: 0;
  top: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.estudiante {
  top: 19px;
  text-transform: capitalize;
  color: var(--abupeteng);
}
.davidFelixParent,
.ellipseParent {
  position: absolute;
  top: 5px;
  left: 60px;
  width: 93px;
  height: 38px;
}
.ellipseParent {
  top: 1082px;
  left: 49px;
  width: 153px;
  height: 48px;
  font-size: 16.02px;
  color: var(--dua);
}
.estudiante1 {
  margin: 0;
  position: absolute;
  top: 55px;
  left: 36px;
  font-size: var(--font-size-17xl);
  font-weight: 700;
  font-family: inherit;
  color: var(--color-cornflowerblue);
}
.rectangleIcon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-cornflowerblue);
  width: 240px;
  height: 53px;
}
.groupChild1 {
  position: absolute;
  top: 16.5px;
  left: 31px;
  width: 20px;
  height: 20px;
}
.retiro {
  position: absolute;
  top: 17.5px;
  left: 75px;
  line-height: 18.69px;
}
.vectorGroup {
  position: absolute;
  top: 289px;
  left: 32px;
  width: 240px;
  height: 53px;
  color: var(--putih);
}
.dashboard {
  position: absolute;
  top: 3px;
  left: 48px;
  line-height: 18.69px;
}
.vuesaxlinearhome2Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}
.dashboardParent,
.menuPrincipal {
  position: absolute;
  top: 211px;
  left: 58px;
  width: 129px;
  height: 24px;
}
.menuPrincipal {
  top: 0;
  left: 0;
  width: 312px;
  height: 1233px;
}
.seleccionEstudiante {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 1233px;
  overflow: hidden;
  text-align: left;
  font-size: var(--typography-label-large-size);
  color: var(--satu);
  font-family: var(--font-montserrat);
}
