.headerChild {
  position: absolute;
  top: 66.5px;
  left: -0.5px;
  border-top: 1px solid var(--x3);
  box-sizing: border-box;
  width: 1417px;
  height: 1px;
}
.headerItem {
  position: absolute;
  top: -19px;
  left: 0;
  background-color: var(--color-silver-100);
  width: 1416px;
  height: 86px;
  display: none;
}
.searchBarChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--putih);
  width: 352px;
  height: 48px;
}
.searchBarItem {
  border: 0;
  font-weight: 500;
  font-family: var(--font-montserrat);
  font-size: var(--typography-label-large-size);
  background-color: transparent;
  position: absolute;
  top: 12px;
  left: 29px;
  width: 299px;
  height: 24px;
}
.searchBar,
.tanggalanChild {
  position: absolute;
  top: 0;
  left: 41px;
  width: 352px;
  height: 48px;
}
.tanggalanChild {
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--putih);
  width: 240px;
}
.marzo202023 {
  position: absolute;
  top: 13px;
  left: 27px;
  letter-spacing: 0.05em;
  line-height: 22px;
  font-weight: 500;
}
.groupChild,
.tanggalan {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 48px;
}
.groupChild {
  border-radius: var(--br-71xl);
  background-color: var(--putih);
  width: 48px;
}
.groupItem,
.vuesaxlinearnotificationIcon {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 24px;
  height: 24px;
}
.groupItem {
  top: 11px;
  left: 30px;
  width: 4px;
  height: 4px;
}
.rectangleParent,
.tanggalanParent {
  position: absolute;
  top: 0;
  height: 48px;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 264px;
  width: 48px;
}
.tanggalanParent {
  left: 1050px;
  width: 312px;
  text-align: left;
  font-size: var(--typography-label-large-size);
  color: var(--satu);
  font-family: var(--font-montserrat);
}
.header,
.searchBar1 {
  position: absolute;
  top: 19px;
  left: 312px;
  width: 1416px;
  height: 67px;
}
.searchBar1 {
  top: 214px;
  left: 353px;
  box-shadow: 0 4px 20px #e8ecff;
  width: 352px;
  height: 48px;
}
.seleccionAsignatura {
  position: absolute;
  top: 133px;
  left: 353px;
  font-size: var(--font-size-17xl);
  line-height: 22px;
}
.g1Child,
.groupInner {
  position: absolute;
  left: 0;
}
.groupInner {
  top: 0;
  border-radius: var(--br-base);
  width: 1303px;
  height: 760px;
}
.g1Child {
  top: 3.1px;
  background-color: var(--x2);
  width: 1217.93px;
  height: 61.92px;
}
.ids202Aseguramiento,
.seleccionada {
  position: absolute;
  top: 22.7px;
  left: 50.04px;
  letter-spacing: 0.05em;
  line-height: 18.69px;
  text-transform: capitalize;
  display: inline-block;
  width: 661.51px;
  height: 19.61px;
}
.seleccionada {
  left: 787.6px;
  font-size: var(--subheadline-16-size);
  font-weight: 600;
  color: var(--color-tomato);
  width: 153.12px;
}
.selectSimple {
  position: absolute;
  top: 0;
  left: 964.74px;
  width: 238.18px;
  height: 49.54px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.g1,
.g2Child {
  position: absolute;
  top: 95.98px;
  left: 37.03px;
  width: 1217.93px;
  height: 65.02px;
}
.g2Child {
  top: 0;
  left: 0;
  background-color: var(--putih);
  width: 1212.93px;
  height: 67.08px;
}
.ids202Aseguramiento1,
.seleccionada1 {
  position: absolute;
  top: 19.61px;
  left: 50.04px;
  letter-spacing: 0.05em;
  line-height: 18.69px;
  text-transform: capitalize;
  display: inline-block;
  width: 661.51px;
  height: 19.61px;
}
.seleccionada1 {
  left: 787.6px;
  font-size: var(--subheadline-16-size);
  font-weight: 600;
  color: var(--color-tomato);
  width: 153.12px;
}
.g2,
.g3Child {
  position: absolute;
  top: 160.99px;
  left: 37.03px;
  width: 1212.93px;
  height: 67.08px;
}
.g3Child {
  top: 1.03px;
  left: 0;
  background-color: var(--x2);
  width: 1217.93px;
  height: 61.92px;
}
.ids202Aseguramiento2 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.05em;
  line-height: 18.69px;
  text-transform: capitalize;
  display: inline-block;
  width: 661.51px;
  height: 19.61px;
}
.ids202AseguramientoDeLaCWrapper,
.seleccionada2 {
  position: absolute;
  top: 20.64px;
  left: 50.04px;
  width: 661.51px;
  height: 19.61px;
}
.seleccionada2 {
  top: 21.67px;
  left: 787.6px;
  font-size: var(--subheadline-16-size);
  letter-spacing: 0.05em;
  line-height: 18.69px;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-tomato);
  display: inline-block;
  width: 153.12px;
}
.g3,
.selectSimple3 {
  position: absolute;
  top: 221.88px;
  left: 37.03px;
  width: 1217.93px;
  height: 62.95px;
}
.selectSimple3 {
  top: 0;
  left: 914.7px;
  width: 238.18px;
  height: 49.54px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.seleccionada3 {
  position: absolute;
  top: 22.7px;
  left: 737.57px;
  letter-spacing: 0.05em;
  line-height: 18.69px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 153.12px;
  height: 19.61px;
}
.ids202AseguramientoDeLaCContainer {
  position: absolute;
  top: 16.51px;
  left: 0;
  width: 661.51px;
  height: 19.61px;
  font-size: var(--font-size-xl);
  color: var(--dua);
}
.g4,
.seleccionada4 {
  position: absolute;
  top: 284.83px;
  left: 87.07px;
  width: 1152.88px;
  height: 49.54px;
  font-size: var(--subheadline-16-size);
  color: var(--color-tomato);
}
.seleccionada4 {
  top: 23.74px;
  left: 787.6px;
  letter-spacing: 0.05em;
  line-height: 18.69px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 157.12px;
  height: 19.61px;
}
.g5,
.g6Child {
  position: absolute;
  top: 345.72px;
  left: 37.03px;
  width: 1217.93px;
  height: 62.95px;
}
.g6Child {
  top: 0;
  left: 0;
  background-color: var(--putih);
  height: 49.54px;
}
.groupDiv,
.seleccionada5 {
  position: absolute;
  top: 19.61px;
  left: 50.04px;
  width: 661.51px;
  height: 19.61px;
}
.seleccionada5 {
  top: 20.64px;
  left: 787.6px;
  font-size: var(--subheadline-16-size);
  letter-spacing: 0.05em;
  line-height: 18.69px;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-tomato);
  display: inline-block;
  width: 157.12px;
}
.g6 {
  position: absolute;
  top: 408.67px;
  left: 37.03px;
  width: 1217.93px;
  height: 49.54px;
}
.ids202Aseguramiento6 {
  position: absolute;
  top: 20.64px;
  left: 50.04px;
  letter-spacing: 0.05em;
  line-height: 18.69px;
  text-transform: capitalize;
  display: inline-block;
  width: 661.51px;
  height: 19.61px;
}
.g7,
.g8 {
  width: 1217.93px;
}
.g7 {
  position: absolute;
  top: 464px;
  left: 37px;
  height: 62.95px;
}
.g8 {
  top: 532.67px;
  left: 37.03px;
  height: 49.54px;
}
.g8,
.g9,
.selecciona {
  position: absolute;
}
.g9 {
  top: 590px;
  left: 37px;
  width: 1217.93px;
  height: 62.95px;
}
.selecciona {
  top: 45.41px;
  left: 39.03px;
  color: var(--satu);
  width: 165.13px;
}
.selecciona,
.siguiente,
.verSeleccion {
  letter-spacing: 0.05em;
  line-height: 18.69px;
  text-transform: capitalize;
  display: inline-block;
  height: 19.61px;
}
.verSeleccion {
  position: absolute;
  top: 708px;
  left: 68px;
  font-weight: 500;
  color: var(--satu);
  width: 165.13px;
}
.siguiente {
  left: 1156px;
  font-size: var(--subheadline-16-size);
  width: 110.08px;
}
.anterior,
.boxunchecked,
.siguiente {
  position: absolute;
  top: 710px;
}
.anterior {
  left: 1036px;
  font-size: var(--subheadline-16-size);
  letter-spacing: 0.05em;
  line-height: 18.69px;
  text-transform: capitalize;
  display: inline-block;
  color: var(--color-tomato);
  width: 98.08px;
  height: 19.61px;
}
.boxunchecked {
  cursor: pointer;
  left: 31px;
  width: 16.01px;
  height: 16.51px;
}
.vectorParent {
  position: absolute;
  top: 296px;
  left: 353px;
  box-shadow: 0 4px 20px #e8ecff;
  width: 1303px;
  height: 760px;
  font-size: var(--font-size-xl);
  color: var(--dua);
}
.cancelar {
  position: absolute;
  top: 1117px;
  left: 1434px;
  line-height: 100%;
  font-weight: 500;
  color: var(--neutrals-text-primary);
  display: flex;
  align-items: center;
  width: 102px;
}
.text {
  position: relative;
  font-size: var(--typography-label-large-size);
  line-height: 20px;
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--putih);
  text-align: left;
}
.button,
.menuPrincipalItem {
  cursor: pointer;
  position: absolute;
  border-radius: var(--br-base);
}
.button {
  border: 1px solid var(--color-lightgray-200);
  padding: var(--padding-5xs) var(--padding-sm);
  background-color: var(--color-mediumaquamarine);
  top: 1106px;
  left: 1550px;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  box-sizing: border-box;
  width: 106px;
  height: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.menuPrincipalItem {
  border: 0;
  padding: 0;
  background-color: var(--abuabu);
  top: 1073px;
  left: 36px;
  width: 240px;
  height: 65px;
}
.iconoirheadsetHelp {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.help {
  position: absolute;
  top: 1px;
  left: 46px;
  line-height: 18.69px;
}
.iconoirheadsetHelpParent {
  position: absolute;
  top: 577px;
  left: 29px;
  width: 81px;
  height: 20px;
}
.signOut {
  position: absolute;
  top: 0;
  left: 46px;
  line-height: 18.69px;
}
.signOutParent,
.vuesaxlinearlogoutIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}
.signOutParent {
  top: 631px;
  left: 29px;
  width: 111px;
}
.calificaciones {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 18.69px;
}
.calificacionesWrapper,
.groupIcon {
  position: absolute;
  top: 112px;
  left: 75px;
  width: 102px;
  height: 19px;
}
.groupIcon {
  top: 110px;
  left: 29px;
  width: 20px;
  height: 20px;
}
.menuPrincipal1,
.support {
  position: absolute;
  top: 0;
  left: 29px;
  letter-spacing: 0.05em;
  line-height: 18.69px;
  text-transform: capitalize;
  color: var(--abupeteng);
}
.support {
  top: 470px;
}
.lineDiv {
  position: absolute;
  top: 435.5px;
  left: -0.5px;
  border-top: 1px solid var(--abupeteng);
  box-sizing: border-box;
  width: 241px;
  height: 1px;
}
.groupParent {
  position: absolute;
  top: 146px;
  left: 36px;
  width: 240px;
  height: 651px;
}
.retiro {
  position: absolute;
  top: 1px;
  left: 48px;
  line-height: 18.69px;
}
.ellipseIcon,
.vuesaxlineardocumentTextParent {
  position: absolute;
  top: 296px;
  left: 66px;
  width: 93px;
  height: 20px;
}
.ellipseIcon {
  top: 1082px;
  left: 49px;
  width: 48px;
  height: 48px;
}
.davidFelix,
.estudiante {
  position: absolute;
  left: 0;
  line-height: 18.69px;
}
.davidFelix {
  margin: 0;
  top: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  white-space: nowrap;
  text-align: center; 
}
.estudiante {
  top: 19px;
  text-transform: capitalize;
  color: var(--abupeteng);
}
.davidFelixParent,
.ellipseParent {
  position: absolute;
  top: 5px;
  left: 60px;
  width: 93px;
  height: 38px;
}
.ellipseParent {
  top: 1082px;
  left: 49px;
  width: 153px;
  height: 48px;
  font-size: 16.02px;
  color: var(--dua);
}
.estudiante1 {
  margin: 0;
  position: absolute;
  top: 55px;
  left: 36px;
  font-size: var(--font-size-17xl);
  font-weight: 700;
  font-family: inherit;
  color: var(--color-cornflowerblue);
}
.rectangleIcon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-cornflowerblue);
  width: 240px;
  height: 53px;
}
.vuesaxlinearuserCirlceAddIcon {
  position: absolute;
  height: 37.74%;
  width: 8.33%;
  top: 28.3%;
  right: 80.83%;
  bottom: 33.96%;
  left: 10.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.seleccion {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 18.69px;
  text-transform: capitalize;
}
.seleccionWrapper,
.vectorGroup {
  position: absolute;
  top: 18px;
  left: 75px;
  width: 71px;
  height: 19px;
}
.vectorGroup {
  top: 350px;
  left: 42px;
  width: 240px;
  height: 53px;
  color: var(--putih);
}
.dashboard {
  position: absolute;
  top: 3px;
  left: 48px;
  line-height: 18.69px;
}
.vuesaxlinearhome2Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}
.dashboardParent,
.menuPrincipal {
  position: absolute;
  top: 219px;
  left: 64px;
  width: 129px;
  height: 24px;
}
.menuPrincipal {
  top: 0;
  left: 0;
  width: 312px;
  height: 1233px;
}
.seleccionEstudiante {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 1233px;
  overflow: hidden;
  text-align: left;
  font-size: var(--typography-label-large-size);
  color: var(--satu);
  font-family: var(--font-montserrat);
}
